<!DOCTYPE html>
<html>
<head>
  <title>Inheritor - relate Amazon Machine Image(AMI)'s parentage.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/site.css">
</head>
<body>
  <a href="https://github.com/takipone/inheritor" target="_blank"><img class="github-ribbon" style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  <div class="search_panel">
    <h1>Inheritor</h1>
    <p>Let's relate Amazon Machine Image(AMI)'s parentage.</p>
    <div class="input-group">
      <input type="text" id="search_input" class="search_input input-lg form-control" placeholder="ami-XXXXXXXX" autofocus>
      <span class="input-group-btn">
        <button id="search_btn" class="search_btn btn btn-lg btn-primary" type="button">Show</button>
      </span>
    </div>
  </div>  
  <div id="ami_panel_base">
    <div class="ami_parentage_panel panel panel-default">
      <h4 class="ami_id"></h4>
    </div>
    <div class="ami_panel panel panel-default">
      <p class="ami_label_above"><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;&nbsp;&nbsp;ancestor</p>
      <div class="panel-body">
        <button type="button" class="btn btn-success btn-lg pull-right">
          Launch&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
        </button> 
        <h4 class="ami_id"></h4>
        <p class="region"></p>
      </div>
      <p class="ami_label_below"><span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;&nbsp;descents</p>
    </div>
  </div>
  <nav class="footer navbar navbar-inverse navbar-fixed-bottom">
    <p class="credit">&copy; {{ year }} takipone all rights reserved.</p>
  </nav>
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="/site.js"></script>
</body>
</html>
