<!DOCTYPE html>
<html>
<head>
  <title>Inheritor - relate Amazon Machine Image(AMI)'s parentage.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/site.css">
</head>
<body>
  <div class="container">
    <form class="form-signin" action="#">
      <h2>Inheritor</h2>
      <p>Let's relate Amazon Machine Image(AMI)'s parentage.</p>
      <input type="text" class="form-control" name="ami-id" placeholder="AMI ID" autofocus>
      <button id="search_btn" class="form-btn btn btn-lg btn-primary btn-block">Search</button>
    </form>
    <div id="ami_tree_panel"></div>
    <p class="credit">&copy; {{ year }} takipone all rights reserved.</p>
  </div>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script>
$(document).ready(function() {
  var ami-id = $('input:text[name=ami-id]'.val();
  $('#search_btn').click(function() {
    $.getJSON('/api/v1/' + ami-id, function(data) {

    }
    return false;
  })
});
  </script>
</body>
</html>
